body {
    background-color: #BCF2F6;
}
header {
    border: 1px solid #656869;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
h1 {
    color: #FF6500;
}
p {
    font-style: italic;
}
img {
    width: 40%;
    border: 3px solid #FF6500;
    border-radius: 40px 0 40px 0;
    margin-bottom: 30px;
    display: block;
    margin: 0 auto;
    box-shadow: 3px 3px 8px #FF6500;
}

img:hover {
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}

button {
    padding: 10px 40px;
    background-color: #FF6500;
    color: white;
    border: none;
    border-radius: 20px 0 20px 0;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}
button:hover {
    transform: scale(.8);
    transition: all .3s ease-in-out;
    background-color: #133E87;
    color: #FF6500;
}
.about {
    display: flex;
    padding: 30px;
}
.about img {
    width: 40%;
}
.about p {
    padding-left: 40px;
    margin: auto;
}
.project {
    width: 90%;
    text-align: center;
    color: #FF6500;
}
.project-image {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 10px;
    gap: 20px;
}

footer {
    margin-top: 30px;
    background-color: #133E87;
    padding: 20px;
    text-align: center;
    color: aliceblue;
}